body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}

.item {
    background-color: whitesmoke;
    width: auto;
    height: auto;
    flex: 1 1 auto;
}

.hover {
    background-color: blueviolet;
}

button {
    background-color: whitesmoke;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
